<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
        <% items.forEach(function(item) { %>
          <!-- Wrap the li in anchor tags with dynamic URL -->
          <li>
            <a href="/<%= encodeURIComponent(item.categoryName) %>">
              <%= item.categoryName %>
            </a>
          </li>
        <% }); %>
      </ul>

      <a href="/create">
        <button>Add item</button>
      </a>
  

    <h2>Categories:</h2>
    <% items.forEach(function(item) { %>
        <% if (item.categoryName ==='cereal') { %>
         
      
      <div>
        <h3><%= item.categoryName %></h3>
        <p><%= item.categoryDescription %></p>

        <h4>Divisions:</h4>
        <% if (item.divisions && item.divisions.length) { %>
          <% item.divisions.forEach(function(division) { %>
            <div class="division">
              <div >
                <h5><%= division.divisionName %></h5>
                    <!-- Form for delete division request -->
                <form action="/delete/<%= division.id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete</button>
                </form>
                <p>Available Domains:</p>
              </div>
          
              <% if (division.subCategories && division.subCategories.length) { %>
                <% division.subCategories.forEach(function(subCategory) { %>
                  <div class="brand">
                    <p><%= subCategory.subCategoryName %> - <%= subCategory.subCategoryDescription %> (Quantity: <%= subCategory.quantity %>)</p>
                    <!-- Form for delete subcategory request -->
                      <form action="/delete/<%= subCategory.id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                      </form>

                        <!-- Link to the update form for the subcategory -->
                      <a href="/<%= subCategory.id %>">
                        <button>Update</button>
                      </a>
                  </div>
                <% }); %>
              <% } else { %>
                <p>No sub-categories available for this division.</p>
              <% } %>
            </div>
          <% }); %>
        <% } else { %>
          <p>No divisions available for this category.</p>
        <% } %>
      </div>
      <% } %>
    <% }); %>
  </body>
</html>